# 🌐 Web
WEB_API_KEY=your-web-api-key
WEB_APP_ID=your-web-app-id
MEASUREMENT_ID=your-web-measurement-id

# 🤖 Android
ANDROID_API_KEY=your-android-api-key
ANDROID_APP_ID=your-android-app-id

# 🍎 iOS & macOS
IOS_API_KEY=your-ios-api-key
IOS_APP_ID=your-ios-app-id
IOS_BUNDLE_ID=your-ios-bundle-id

# 🖥️ Windows
WINDOWS_APP_ID=your-windows-app-id
WINDOWS_MEASUREMENT_ID=your-windows-measurement-id

# 📦 Comunes a todas las plataformas
MESSAGING_SENDER_ID=your-messaging-sender-id
PROJECT_ID=your-project-id
AUTH_DOMAIN=your-auth-domain
STORAGE_BUCKET=your-storage-bucket
